<div class="footer mt-3 footer-background">
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="module-title">
          <h2 class="title"><span>Contactos</span></h2>
          <hr />
        </div>
        <table>
          <tbody>
            <tr>
              <td class="col-lg-3 col-md-3">
                <h6>
                  <span style="font-size: 10pt"
                    ><strong><span style="font-family: 'trebuchet ms', geneva; color: #999999">San Gil</span></strong></span
                  >
                </h6>
                <p style="line-height: 14px">
                  <span style="color: #999999; font-size: 8pt"
                    ><strong
                      ><span style="font-family: 'trebuchet ms', geneva"
                        >Km 2 vía San Gil - Charalá,<br />Teléfonos: (607) 7245757 -&nbsp;7246565<br /><span
                          style="color: #999999; font-size: 8pt"
                          ><strong
                            ><span style="font-family: 'trebuchet ms', geneva">San Gil, Santander<br />Colombia</span></strong
                          ></span
                        ></span
                      ></strong
                    ></span
                  >
                </p>
              </td>
              <td class="col-lg-3 col-md-3">
                <h6>
                  <span style="color: #999999; font-size: 10pt"
                    ><strong><span style="font-family: 'trebuchet ms', geneva">Chiquinquirá</span></strong></span
                  >
                </h6>
                <p style="line-height: 14px">
                  <span style="color: #999999; font-size: 8pt"
                    ><strong><span style="font-family: 'trebuchet ms', geneva">Calle 18 # 12-18</span></strong></span
                  ><br /><span style="color: #999999; font-size: 8pt"
                    ><strong
                      ><span style="font-family: 'trebuchet ms', geneva"
                        >Teléfonos: (608) 7266058 Ext. 101<br />Chiquinquirá, Boyacá<br />Colombia</span
                      ></strong
                    ></span
                  >
                </p>
              </td>
              <td class="col-lg-3 col-md-3">
                <h6>
                  <span style="color: #999999; font-size: 10pt"
                    ><strong><span style="font-family: 'trebuchet ms', geneva">Yopal</span></strong></span
                  >
                </h6>
                <p style="line-height: 14px">
                  <span style="color: #999999; font-size: 8pt"
                    ><strong
                      ><span style="font-family: 'trebuchet ms', geneva"
                        >Km 2 vía Matepantano<br />Teléfonos: 310 628 1503 - 322 810 6500 - 312 781 2305<br />El Yopal, Casanare<br />Colombia</span
                      ></strong
                    ></span
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-md-4">
        <div>
          <div>
            <h2 class="title"><span>Enlaces rápidos</span></h2>
            <hr />
          </div>
          <table>
            <tbody>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="https://www.unisangil.edu.co/index.php?option=com_content&view=article&id=1943&Itemid=999" rel="alternate">
                      Acciones de UNISANGIL durante la COVID-19</a
                    ><br
                  /></span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="https://www.unisangil.edu.co/index.php?option=com_content&view=article&id=307&Itemid=417" rel="alternate">
                      Sistema Interno de Aseguramiento de la Calidad</a
                    ><br
                  /></span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="https://www.unisangil.edu.co/index.php?option=com_content&view=article&id=310&Itemid=411" rel="alternate">
                      Autoevaluación y acreditación</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="http://www.unisangil.edu.co/index.php?option=com_content&view=article&id=2103&Itemid=1027" rel="alternate">
                      Consultorio NAF</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="http://unisangil.edu.co/index.php?option=com_content&view=article&id=470&Itemid=584" rel="alternate">
                      Consultorio Jurídico</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="http://www.unisangil.edu.co/index.php?option=com_content&view=article&id=1405&Itemid=899" rel="alternate"
                      >Centro de Conciliación</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <span class="footer-fonts"
                    ><a href="https://www.unisangil.edu.co/index.php?option=com_content&view=article&id=2208&Itemid=1046" rel="alternate">
                      Unidad Amigable UNISANGIL</a
                    ></span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 mt-3">
    <p style="text-align: center">
      <span style="font-family: 'trebuchet ms', geneva, sans-serif; font-size: 10pt; color: #7a7a7a"
        ><strong>Personería Jurídica 10989 de 1991. VIGILADA MINEDUCACIÓN</strong></span
      >
    </p>
  </div>
</div>
