<!-- <div class="container">
  <div class="row">
    <div class="proposal-detail mx-auto mt-4 flex-column justify-content-center align-items-center">
      <div class="p-3" style="height: 80vh">
        <div class="mx-auto">
          <h2 class="text-center text-white">Detallar Propuesta</h2>
        </div>
        <div class="text-center">
          <form action="">
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Título</label>
              <input type="text" class="form-control form-component" />
            </div>
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Descripción</label>
              <textarea name="" id="" cols="30" rows="10" class="form-control form-component"></textarea>
            </div>
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Adjuntar Archivo</label>
              <input type="file" class="form-control form-component" />
            </div>
            <button type="submit" class="btn btn-dark m-2 col-12 col-md-8 justify-content-end">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="proposal-detail mx-auto mt-4 flex-column justify-content-center align-items-center">
      <div class="p-3" style="height: 80vh">
        <div class="mx-auto">
          <h2 class="text-center text-white">Detallar Propuesta</h2>
        </div>
        <div class="text-center d-flex flex-column">
          <form action="">
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Título</label>
              <input type="text" class="form-control form-component" />
            </div>
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Descripción</label>
              <textarea name="" id="" cols="30" rows="10" class="form-control form-component"></textarea>
            </div>
            <div class="d-flex m-2">
              <label for="" class="col-12 col-md-3 text-white">Adjuntar Archivo</label>
              <input type="file" class="form-control form-component" />
            </div>
            <button type="submit" class="d-flex btn btn-dark m-2 ml-4 col-12 col-md-8">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
