<div class="container">
  <div class="row">
    <div>
      <h2 class="mx-auto">Detallar Propuesta</h2>
    </div>
    <div class="proposal-detail">
      <form action="">
        <div class="">
          <label for="">Holi</label>
          <input type="text" />
        </div>
        <div class="">
          <label for="">Holi2</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="">
          <label for="">Adjuntar Archivo</label>
          <input type="file" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
