<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-2">
        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
          <strong>¡El inicio de sesión ha fallado!</strong> Por favor, revise las credenciales e intente de nuevo.
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <h2>Bienvenido a ¡UNISANGIL!</h2>
              <p class="paragraph">
                Somos una institución de educación superior que en las regiones forma profesionales competentes para su desarrollo en el
                mundo.
              </p>
              <p class="paragraph hidden">
                Nuestra oferta académica de pregrado en las sedes de San Gil, Yopal y Chiquinquirá, está compuesta por 28 carreras: una
                tecnologíca y 24 programas profesionales universitarios, cuatro de ellos en acuerdo estratégico UNISANGIL – UNAB.
              </p>
              <a href="https://www.unisangil.edu.co/" target="_blank" class="btn btn-dark btn-white btn-outline-white">Ver mas</a>
            </div>
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h2 class="mb-4" jhiTranslate="login.title"></h2>
              </div>
            </div>
            <form class="form signin-form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="form-group mb-3">
                <label class="username-label label" for="username" jhiTranslate="global.form.username.label">Usuario</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="{{ 'global.form.username.placeholder' | translate }}"
                  formControlName="username"
                  #username
                  data-cy="username"
                  required
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="password" jhiTranslate="login.form.password">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="{{ 'login.form.password.placeholder' | translate }}"
                  formControlName="password"
                  data-cy="password"
                  required
                />
              </div>

              <div class="form-group d-md-flex utils">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">
                    <input type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" checked />
                    <span jhiTranslate="login.form.rememberme"></span>
                  </label>
                </div>

                <div class="w-50 text-md-right mb-1">
                  <a routerLink="/account/reset/request" jhiTranslate="login.password.forgot" data-cy="forgetYourPasswordSelector"
                    >¿Olvidó su contraseña?</a
                  >
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn-login btn btn-dark px-3" jhiTranslate="login.form.button" data-cy="submit">
                  Iniciar Sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
