.back-img {
  background-image: url('../../content/images/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-component {
  margin: 3%;
  background: rgb(6, 43, 53);
  padding: 1.5em;
}
