@media screen and (max-width: 768px) {
  .home-img,
  .credentials {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .home-img {
    img {
      width: 190%;
    }
  }
  .credentials {
    display: none;
  }
}

@media screen and .home-component {
  margin-top: 7%;
}

.home-img {
  margin-top: -5%;

  img {
    width: 130%;
  }
}
