<div class="container">
  <div class="row">
    <div>
      <h2 class="mx-auto">Modalidades</h2>
    </div>
    <div class="alert alert-warning" id="no-result" *ngIf="modalities?.length === 0">
      <span jhiTranslate="trabajosDeGradoUnisangilApp.modality.home.notFound">Ningún Modalities encontrado</span>
    </div>
    <div class="col-md-4 mt-3" *ngFor="let modality of modalities">
      <div class="card text-center align-self-stretch">
        <img src="../../../../content/images/default-img-modalities.png" class="card-img-top smaller-image mx-auto mt-2" alt="..." />
        <div class="card-body">
          <h3 class="card-title text-white font-weight-bold">{{ modality.name }}</h3>
          <p class="card-text">{{ modality.description }}</p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
  </div>
</div>
