<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="proposal">
      <h2 data-cy="proposalDetailsHeading"><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.detail.title">Proposal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.id">Id</span></dt>
        <dd>
          <span>{{ proposal.id }}</span>
        </dd>
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.title">Title</span></dt>
        <dd>
          <span>{{ proposal.title }}</span>
        </dd>
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.archive">Archive</span></dt>
        <dd>
          <span>{{ proposal.archive }}</span>
        </dd>
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.state">State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'trabajosDeGradoUnisangilApp.State.' + proposal.state }}">{{ proposal.state }}</span>
        </dd>
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.comments">Comments</span></dt>
        <dd>
          <span>{{ proposal.comments }}</span>
        </dd>
        <dt><span jhiTranslate="trabajosDeGradoUnisangilApp.proposal.student">Student</span></dt>
        <dd>
          <span>{{ proposal.student }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/proposal', proposal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
