<div class="card mt-3 col-md-8 mx-auto">
  <div class="card-header h5 text-white text-center bg-primary" jhiTranslate="reset.request.title">Restablecer su contraseña</div>
  <jhi-alert-error></jhi-alert-error>

  <div class="card-body px-5">
    <p class="card-text py-2 text-center text-white" *ngIf="!success">
      <span jhiTranslate="reset.request.messages.info">Introduzca la dirección de correo electrónico que utilizó para registrarse</span>
    </p>

    <div class="alert alert-success" *ngIf="success">
      <span jhiTranslate="reset.request.messages.success"
        >Revise su correo electrónico para obtener más información sobre cómo restablecer su contraseña.</span
      >
    </div>

    <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
      <div class="mb-3">
        <div class="form-outline">
          <label class="label" for="email" jhiTranslate="global.form.email.label">Correo electrónico</label>
          <input
            type="email"
            id="typeEmail"
            id="email"
            name="email"
            class="form-control"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />
        </div>

        <div
          *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.required"
            jhiTranslate="global.messages.validate.email.required"
          >
            Se requiere un correo electrónico.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.email"
            jhiTranslate="global.messages.validate.email.invalid"
          >
            Su correo electrónico no es válido.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.minlength"
            jhiTranslate="global.messages.validate.email.minlength"
          >
            Se requiere que su correo electrónico tenga por lo menos 5 caracteres
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.email.maxlength"
          >
            Su correo electrónico no puede tener más de 50 caracteres
          </small>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="resetRequestForm.invalid"
        class="btn btn-primary w-100"
        jhiTranslate="reset.request.form.button"
        data-cy="submit"
      >
        Restablecer la contraseña
      </button>
    </form>
  </div>
</div>
